.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2rem;
}

.preview {
  display: block;
  width: 100%;
  max-width: 1100px;
  margin: 5.5rem auto;
  background: var(--gray-200);
  color: var(--gray-800);
  text-align: center;
  border-radius: 0.25rem;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.containerPrevNext {
  max-width: 700px;
  margin: 0 auto;
}
