.posts {
  margin: 5rem auto 0;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    h2 {
      font-size: 1.75rem;
      transition: color 0.2s;
    }

    p {
      color: var(--gray-200);
      font-size: 1.125rem;
      margin-top: 0.5rem;
    }

    .data {
      display: flex;
      align-items: center;

      margin-top: 1.5rem;

      color: var(--gray-300);
      font-weight: 300;
      font-size: 0.875rem;

      svg {
        position: relative;
        top: 2px;
      }

      span {
        margin-left: 1.5rem;
      }
    }

    &:hover {
      h2 {
        color: var(--pink-500);
      }
    }
  }
}

.loadPosts {
  color: var(--pink-500);
  font-size: 1.125rem;
  margin-top: 4rem;
  font-weight: 500;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
