.headerContainer {
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 700px;
  height: var(--header-height);
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
}
